<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.AdminMapper">
    <resultMap id="adminMap" type="com.shu.pojo.Admin">
        <id column="admin_id" property="adminId"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="department_id" property="departmentId"/>
        <association property="department" resultMap="com.shu.mapper.DepartmentMapper.departmentMap"/>
    </resultMap>

    <select id="selectById" resultType="com.shu.pojo.Admin" resultMap="adminMap">
        select * from admin where admin_id= #{adminId};
    </select>
</mapper> 