<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.CoursePlanMapper">
<resultMap id="coursePlanMap" type="com.shu.pojo.CoursePlan">
    <id column="plan_id" property="planId"/>
    <result column="major_id" property="majorId"/>
    <result column="course_id" property="courseId"/>
    <association property="major" resultMap="com.shu.mapper.MajorMapper.majorMap"/>
    <association property="course" resultMap="com.shu.mapper.CourseMapper.courseMap"/>
</resultMap>
</mapper> 