<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.CourseMapper">
    <resultMap id="courseMap" type="com.shu.pojo.Course">
        <id column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <result column="department_id" property="departmentId"/>
        <result column="credit" property="credit"/>
        <association property="department" resultMap="com.shu.mapper.DepartmentMapper.departmentMap"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO course (course_name, department_id, credit) VALUES (#{courseName}, #{departmentId}, #{credit});
    </insert>

    <select id="selectByDepartment" resultType="com.shu.pojo.Course" resultMap="courseMap">
        SELECT * FROM course
        WHERE department_id = #{departmentId};
    </select>

</mapper> 