<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.EnrollmentMapper">
    <resultMap id="enrollmentMap" type="com.shu.pojo.Enrollment">
        <id column="enrollment_id" property="enrollmentId"/>
        <result column="student_id" property="studentId"/>
        <result column="schedule_id" property="scheduleId"/>
        <association property="student" resultMap="com.shu.mapper.StudentMapper.studentMap"/>
        <association property="classSchedule" resultMap="com.shu.mapper.ClassScheduleMapper.classScheduleMap"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO enrollment (student_id, schedule_id) VALUES (#{studentId}, #{scheduleId});
    </insert>

    <select id="getEnrolledCount" resultType="java.lang.Integer">
        SELECT COUNT(*) 
        FROM enrollment 
        WHERE schedule_id = #{scheduleId}
    </select>

    <select id="getStudentClassTimes" resultType="java.lang.String">
        SELECT cs.class_time
        FROM enrollment e
        JOIN class_schedule cs ON e.schedule_id = cs.schedule_id
        WHERE e.student_id = #{studentId}
    </select>
</mapper> 