<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.EnrollmentMapper">
    <resultMap id="enrollmentMap" type="com.shu.pojo.Enrollment">
        <id column="enrollment_id" property="enrollmentId"/>
        <result column="student_id" property="studentId"/>
        <result column="schedule_id" property="scheduleId"/>
        <association property="student" resultMap="com.shu.mapper.StudentMapper.studentMap"/>
        <association property="classSchedule" resultMap="com.shu.mapper.ClassScheduleMapper.classScheduleMap"/>
    </resultMap>

    <resultMap id="courseSearchResultMap" type="com.shu.dto.CourseSearchDTO">
        <result column="courseId" property="courseId"/>
        <result column="courseName" property="courseName"/>
        <result column="credit" property="credit"/>
        <result column="teacherId" property="teacherId"/>
        <result column="teacherName" property="teacherName"/>
        <result column="position" property="position"/>
        <result column="classTime" property="classTime"/>
        <result column="classroom" property="classroom"/>
        <result column="capacity" property="capacity"/>
        <result column="enrolledCount" property="enrolledCount"/>
    </resultMap>

    <resultMap id="studentSearchDTO" type="com.shu.dto.StudentSearchDTO">
        <result column="student_id" property="studentId"/>
        <result column="name" property="studentName"/>
        <result column="grade_number" property="gradeNumber"/>
        <result column="department_name" property="departmentName"/>
        <result column="major_name" property="majorName"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO enrollment (student_id, schedule_id) VALUES (#{studentId}, #{scheduleId});
    </insert>

    <delete id="delete">
        DELETE FROM enrollment
        WHERE student_id = #{studentId}
          AND   schedule_id = #{scheduleId};
    </delete>


    <select id="getEnrolledCount" resultType="java.lang.Integer">
        SELECT COUNT(*) 
        FROM enrollment 
        WHERE schedule_id = #{scheduleId}
    </select>

    <select id="getStudentClassTimes" resultType="java.lang.String">
        SELECT cs.class_time
        FROM enrollment e
        JOIN class_schedule cs ON e.schedule_id = cs.schedule_id
        WHERE e.student_id = #{studentId}
    </select>

    <select id="selectEnrolledCourses" resultType="com.shu.dto.CourseSearchDTO"
            resultMap="courseSearchResultMap">
        SELECT
            cs.course_id as courseId,
            c.course_name as courseName,
            c.credit,
            cs.teacher_id as teacherId,
            t.name as teacherName,
            t.position,
            cs.class_time as classTime,
            cs.classroom
        FROM enrollment e
        JOIN class_schedule cs ON e.schedule_id = cs.schedule_id
        JOIN teacher t ON cs.teacher_id = t.teacher_id
        JOIN course c ON cs.course_id = c.course_id
        WHERE e.student_id = #{studentId};
    </select>

    <select id="selectStudentsByScheduleId" resultType="com.shu.dto.StudentSearchDTO"
            resultMap="studentSearchDTO">
        SELECT
            s.student_id,
            s.name,
            s.gender,
            s.grade_number,
            d.department_name,
            m.major_name,
            s.email,
            g.grade
        FROM enrollment e
        JOIN student s ON e.student_id = s.student_id
        JOIN major m ON s.major_id = m.major_id
        JOIN department d ON d.department_id = s.department_id
        LEFT JOIN grade g ON e.enrollment_id = g.enrollment_id
        WHERE e.schedule_id = #{scheduleId};
    </select>

</mapper> 