<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.MajorMapper">
    <resultMap id="majorMap" type="com.shu.pojo.Major">
        <id column="major_id" property="majorId"/>
        <result column="major_name" property="majorName"/>
        <result column="department_id" property="departmentId"/>
        <association property="department" resultMap="com.shu.mapper.DepartmentMapper.departmentMap"/>
    </resultMap>

    <select id="selectMajorById" resultType="com.shu.pojo.Major" resultMap="majorMap">
        SELECT * FROM major where major_id = #{majorId};
    </select>

    <select id="selectMajorsByDepartment" resultMap="majorMap">
        SELECT m.*, d.*
        FROM major m
                 LEFT JOIN department d ON m.department_id = d.department_id
        WHERE d.department_name = #{departmentName}
        ORDER BY m.major_id
    </select>

    <select id="selectMajorsByDepartmentId" resultMap="majorMap">
        SELECT m.*, d.*
        FROM major m
                 LEFT JOIN department d ON m.department_id = d.department_id
        WHERE m.department_id = #{departmentId}
        ORDER BY m.major_id
    </select>

</mapper> 