<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.StudentSearchDTOMapper">
    <resultMap id="studentSearchDTO" type="com.shu.dto.StudentSearchDTO">
        <result column="student_id" property="studentId"/>
        <result column="name" property="studentName"/>
        <result column="grade_number" property="gradeNumber"/>
        <result column="department_name" property="departmentName"/>
        <result column="major_name" property="majorName"/>
        <result column="email" property="email"/>
        <result column="grade" property="grade"/>
        <result column="usual_score" property="usualScore"/>
        <result column="exam_score" property="examScore"/>
        <result column="native_place" property="nativePlace"/>
        <result column="status" property="status"/>
        <result column="password" property="password"/>
        
    </resultMap>
</mapper>